<h2>Onclicking a show date button display calendar</h2>

<img src="https://s3.amazonaws.com/myamcatimages/company/images/8527.png" alt="Date Picker" id="datepickericon" />
<!-- <input name="calendarselect{ContactID}" class="timeselect" type="date" id="calendar">
 <script>
document.getElementById("datepickericon").onclick = function(e){
console.log('inside click');
    document.getElementById("calendar").style.visibility="visible";
}
</script>  -->

<div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text"
             placeholder="select Date"
             class="form-control"
             bsDatepicker>
    </div>
    <!-- <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text"
             placeholder="Daterangepicker"
             class="form-control"
             bsDaterangepicker>
    </div> -->
  </div>