<nav class="navbar navbar-expand-sm bg-light navbar-info">
    <a class="navbar-brand "><img src="https://s3.amazonaws.com/myamcatimages/company/images/8527.png"></a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col col-md-2 col-lg-2 col-xl-2" style="background-color:rgb(235, 228, 228);">         
                    <div   [routerLink]="['/task1']">
                        <span>Question1 </span>
                    </div><br>
                    <div [routerLink]="['/task2']">
                        <span>Question2</span>
                    </div><br>
                    <div [routerLink]="['/task3']">
                        <span>Question3 </span>
                    </div><br>
                    <div   [routerLink]="['/task4']">
                        <span>Question4 </span>
                    </div><br>
                    <div   [routerLink]="['/task5']">
                        <span>Question5 </span>
                    </div><br>
                    <div   [routerLink]="['/task6']">
                        <span>Question6 </span>
                    </div><br>
                    <div   [routerLink]="['/task7']">
                        <span>Question7 </span>
                    </div><br>
                    <div   [routerLink]="['/task8']">
                        <span>Question8 </span>
                    </div><br>
                    <div   [routerLink]="['/task9']">
                        <span>Question9 </span>
                    </div><br>
                    <div   [routerLink]="['/task10']">
                        <span>Question10 </span>
                    </div><br>
                    <div   [routerLink]="['/task11']">
                        <span>Question11 </span>
                    </div><br>
                    <div   [routerLink]="['/task12']">
                        <span>Question12 </span>
                    </div><br>
                    <div   [routerLink]="['/task13']">
                        <span>Question13 </span>
                    </div><br>
                    <div   [routerLink]="['/task14']">
                        <span>Question14 </span>
                    </div><br>
                    <div   [routerLink]="['/task15']">
                        <span>Question15 </span>
                    </div><br>
                    <div   [routerLink]="['/task16']">
                        <span>Question16 </span>
                    </div><br>
                    <div   [routerLink]="['/task17']">
                        <span>Question17 </span>
                    </div><br>
                    <div   [routerLink]="['/animals/:animal']">
                        <span>Question18 </span>
                    </div><br>
                    <div   [routerLink]="['/task19']">
                        <span>Question19 </span>
                    </div><br>
            </div>
        
        <div class="col-sm-10 col col-md-10 col-lg-10 col-xl-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>