<h2>passing names in the route url by route query parameters</h2><br><br>

  
  <!-- <div>
    <div class="description">Param from Snapshot:</div>
    <div class="value">{{ snapshotParam }}</div>
  </div> -->
  <div>
    <div class="description">Select button change route:</div>
    <div class="value">{{ subscribedParam }}</div>
  </div>
  
  <div>
    <button (click)="goto('dog')">Dog</button>
    <button (click)="goto('cat')">Cat</button>
    <button (click)="goto('owl')">Owl</button>
    <button (click)="goto('cheetah')">Cheetah</button>
    <button (click)="goto('narwhal')">Narwhal</button>
  </div>
  
  <br />
  <br />
  
  